In [96]:
from wordcloud import WordCloud
from bs4 import BeautifulSoup
import requests
from konlpy.tag import Okt
from collections import Counter
import matplotlib.pyplot as plt
import time
import platform
import numpy as np
from PIL import Image
import pandas as pd
import collections
collections.Callable = collections.abc.Callable
from selenium import webdriver

In [97]:
file="stockcompanylist.csv"

In [98]:
stockcompanydf=pd.read_csv(file)

In [99]:
stockcompanydf

,회사명,종목코드,업종,주요제품,상장일,대표자명,홈페이지,지역
0,컨텍,451760,"컴퓨터 프로그래밍, 시스템 통합 및 관리업","지상국 시스템 엔지니어링 솔루션, 위성영상 생성을 위한 데이터처리 솔루션",2023-11-09 00:00:00,이성희,http://kr.contec.kr/,대전광역시
1,크라우드웍스,355390,소프트웨어 개발 및 공급업,인공지능 데이터 구축 서비스,2023-08-31 00:00:00,박민우,http://www.crowdworks.kr,서울특별시
2,NICE평가정보,30190,기타 정보 서비스업,"개인 및 기업정보, 솔루션",2023-08-08 00:00:00,신희부,NaN,서울특별시
3,씨유박스,340810,소프트웨어 개발 및 공급업,"AI얼굴인식 시스템, AI얼굴인증 솔루션, AI 객체인식 솔루션, AI데이터 플랫폼",2023-05-19 00:00:00,남운성,http://www.cubox.ai,서울특별시
4,핑거스토리,417180,기타 정보 서비스업,"웹툰, 디지털 만화, 웹소설",2022-12-08 00:00:00,라현성,http://www.mootoon.co.kr,서울특별시
...,...,...,...,...,...,...,...,...
89,키다리스튜디오,20120,"자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업","만화, 소설 등 콘텐츠 제작 및 유통, 판매, 컴퓨터 프로그래밍, 시스템 통합 및 관리업",1996-07-03 00:00:00,김영훈,http://www.kidaristudio.com,서울특별시
90,대신정보통신,20180,"컴퓨터 프로그래밍, 시스템 통합 및 관리업","디지털서비스, SI서비스, 산업용 PDA",1995-10-06 00:00:00,"이재원, 최현택 (각자 대표이사)",http://www.dsic.co.kr,광주광역시
91,신라섬유,1000,가전제품 및 정보통신장비 소매업,부동산,1994-06-28 00:00:00,박재흥,http://sillatextile.co.kr,대구광역시
92,DB,12030,"컴퓨터 프로그래밍, 시스템 통합 및 관리업","컴퓨터 프로그래밍, 시스템 통합 및 관리",1993-01-06 00:00:00,"문덕식,강운식 (각자 대표이사)",http://www.dbinc.co.kr,서울특별시
93,더존비즈온,12510,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",응용 소프트웨어 개발 및 공급업,1988-10-28 00:00:00,김용우,http://www.douzone.com,강원특별자치도

In [100]:
codenum=stockcompanydf['종목코드'].astype(str)

In [101]:
codenum

0     451760
1     355390
2      30190
3     340810
4     417180
       ...
89     20120
90     20180
91      1000
92     12030
93     12510
Name: 종목코드, Length: 94, dtype: object

In [102]:
codenum.info()

<class 'pandas.core.series.Series'>
RangeIndex: 94 entries, 0 to 93
Series name: 종목코드
Non-Null Count  Dtype
--------------  -----
94 non-null     object
dtypes: object(1)
memory usage: 884.0+ bytes

In [103]:
codelist=[]
for code in codenum:
    if len(code)==4:
        codelist.append('00'+code)
    elif len(code)==5:
        codelist.append('0'+code)
    else:
        codelist.append(code)

In [104]:
codelist

['451760',
 '355390',
 '030190',
 '340810',
 '417180',
 '424760',
 '402030',
 '357880',
 '377450',
 '352910',
 '303530',
 '294570',
 '351330',
 '189330',
 '321820',
 '064850',
 '301300',
 '337930',
 '304100',
 '065370',
 '062970',
 '226330',
 '328380',
 '300080',
 '234340',
 '307870',
 '267850',
 '173130',
 '286940',
 '042000',
 '234300',
 '035720',
 '243870',
 '250060',
 '239340',
 '127710',
 '067730',
 '214180',
 '124500',
 '207760',
 '018260',
 '121060',
 '143240',
 '139050',
 '071840',
 '136540',
 '093320',
 '058860',
 '030790',
 '058850',
 '067920',
 '115500',
 '035420',
 '092130',
 '032640',
 '067010',
 '072770',
 '089150',
 '089230',
 '039290',
 '035510',
 '075130',
 '052220',
 '052460',
 '078000',
 '070590',
 '060570',
 '037270',
 '072130',
 '066980',
 '039980',
 '042500',
 '040350',
 '060250',
 '053590',
 '049480',
 '038540',
 '043610',
 '038680',
 '010280',
 '036120',
 '007120',
 '033230',
 '030200',
 '023590',
 '033130',
 '032680',
 '028080',
 '031820',
 '020120',
 '020180',
 '001000',
 '012030',
 '012510']

In [105]:
len(codelist)

94

In [106]:
urllist=[]
for i in range(0,len(codelist)):
    urllist.append("https://finance.naver.com/item/main.naver?code="+codelist[i])

In [107]:
driver = webdriver.Chrome()

In [108]:
urllist[0]

'https://finance.naver.com/item/main.naver?code=451760'

In [109]:
webpages = []
for finalurl in urllist:
    driver.get(finalurl)
    time.sleep(2)
    webpages.append(driver.page_source)

In [110]:
driver.quit()

In [111]:
import pickle
# with open('stockcompanylist.pickle', 'rb') as f:
#     pickle.load(f)

# with open('stockcompanylist.pickle', 'wb') as f:
#     pickle.dump(webpages, f)

In [112]:
save = BeautifulSoup(webpages[10],'lxml')
with open('test.html' ,'r', encoding='euc-kr') as f:
    save = BeautifulSoup(f.read(), 'lxml')
colname = ['기업이름']
rows = []
for number in range(10,24): #8, 24
    colname.append(save.select_one('th.h_th2.th_cop_anal{}'.format(number)).get_text())

for webpage in webpages:
    tmpsoup = BeautifulSoup(webpage, 'lxml')
    row = [tmpsoup.select_one('title').get_text().split(':')[0].strip()]
    tmptmp = []
    for number in range(10,24):
        tmprow = tmpsoup.select_one('th.h_th2.th_cop_anal{}'.format(number))
        if tmprow:
            tmptmp.append(tmprow.parent.select('td')[2].get_text().strip().replace(',',''))
        else:
            tmptmp.append(None)
    row.extend(tmptmp)
    rows.append(row)

In [113]:

df = pd.DataFrame(rows)
df.columns = colname
df[df.columns[1:]] = df[df.columns[1:]].apply(lambda x : pd.to_numeric(x, errors='coerce'))

In [114]:
colname = ['기업이름',
 '당기순이익(억원)',
 '영업이익률(%)',
 '순이익률(%)',
 'ROE(지배주주)(%)',
 '부채비율(%)',
 '당좌비율(%)',
 'PER(배)',
 'BPS(원)',
 'PBR(원)',
 '주당배당금(원)',
 'PBR(배)',
 '주당배당금(원)',
 '시가배당률(%)',
 '배당성향(%)']

In [115]:
df.columns = colname

In [116]:
df.fillna(0)

,기업이름,당기순이익(억원),영업이익률(%),순이익률(%),ROE(지배주주)(%),부채비율(%),당좌비율(%),PER(배),BPS(원),PBR(원),주당배당금(원),PBR(배),주당배당금(원),시가배당률(%),배당성향(%)
0,컨텍,-207.0,-14.56,-162.26,98.43,-368.00,52.00,-6660.52,-3153.0,-4494.0,0.0,0.00,0.00,0.00,0.00
1,크라우드웍스,-134.0,-53.03,-112.96,97.06,313.28,115.30,29.21,-3629.0,1087.0,0.0,0.00,0.00,0.00,0.00
2,NICE평가정보,527.0,14.92,10.98,16.39,40.82,192.32,1053.36,868.0,5733.0,370.0,14.06,0.60,3.03,41.85
3,씨유박스,-83.0,-37.71,-49.38,-130.25,813.46,73.76,-69.22,-972.0,476.0,0.0,0.00,0.00,0.00,0.00
4,핑거스토리,-36.0,5.67,-20.71,-39.36,32.64,483.56,983.13,-273.0,1083.0,0.0,-26.97,6.80,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,키다리스튜디오,-25.0,2.52,-1.50,-1.14,37.92,152.59,1301.91,-78.0,7338.0,50.0,-117.58,1.25,0.55,-65.46
90,대신정보통신,-0.0,1.83,-0.02,-0.17,197.64,77.27,49.38,-1.0,744.0,20.0,-881.31,1.49,1.80,-1589.38
91,신라섬유,-0.0,10.49,-0.81,-0.23,107.48,5.84,534.01,-1.0,634.0,0.0,-1317.52,3.07,0.00,0.00
92,DB,57.0,5.88,1.42,1.58,45.38,98.64,222.14,28.0,1492.0,0.0,28.28,0.54,0.00,0.00
93,더존비즈온,231.0,14.96,7.58,5.15,89.94,98.65,3139.85,757.0,14769.0,123.0,48.70,2.50,0.33,30.21

In [117]:
highdangi=df.sort_values('당기순이익(억원)',ascending=False)

In [120]:
highdangi=df.sort_values('당기순이익(억원)',ascending=False)
lowdangi=df.sort_values('당기순이익(억원)')
highyeongup=df.sort_values('영업이익률(%)',ascending=False)
lowyeongup=df.sort_values('영업이익률(%)')
highrealprofit=df.sort_values('순이익률(%)',ascending=False)
lowrealprofit=df.sort_values('순이익률(%)')
highRoe=df.sort_values('ROE(지배주주)(%)',ascending=False)
lowRoe=df.sort_values('ROE(지배주주)(%)')
highdebtrate=df.sort_values('부채비율(%)',ascending=False)
lowdebtrate=df.sort_values('부채비율(%)')
highquickratio=df.sort_values('당좌비율(%)',ascending=False)
lowquickratio=df.sort_values('당좌비율(%)')
highBPS=df.sort_values('BPS(원)',ascending=False)
lowBPS=df.sort_values('BPS(원)')

In [135]:
highdangi.head(15)

,기업이름,당기순이익(억원),영업이익률(%),순이익률(%),ROE(지배주주)(%),부채비율(%),당좌비율(%),PER(배),BPS(원),PBR(원),주당배당금(원),PBR(배),주당배당금(원),시가배당률(%),배당성향(%)
83,KT,13877.0,6.59,5.41,7.99,122.54,99.95,1003.36,4835.0,64880.0,1960.0,6.99,0.52,5.80,39.75
40,삼성에스디에스,11300.0,5.32,6.56,14.23,41.16,319.45,21449.10,14213.0,106311.0,3200.0,8.65,1.16,2.60,22.51
31,카카오,10626.0,8.17,14.95,13.54,69.70,149.38,25032.00,3037.0,22893.0,60.0,17.48,2.32,0.11,1.94
84,다우기술,6805.0,7.80,7.39,17.36,849.42,9.21,10358.93,8304.0,53655.0,600.0,2.31,0.36,3.13,6.95
52,NAVER,6732.0,15.87,8.19,3.29,44.56,103.76,152913.19,4634.0,151646.0,914.0,38.30,1.17,0.51,18.03
54,LG유플러스,6626.0,7.78,4.76,8.37,134.03,66.59,221.58,1519.0,18996.0,650.0,7.28,0.58,5.88,42.14
60,신세계 I&C,841.0,6.29,14.08,NaN,32.70,217.31,4580.88,4877.0,27495.0,500.0,2.82,0.50,3.64,7.84
2,NICE평가정보,527.0,14.92,10.98,16.39,40.82,192.32,1053.36,868.0,5733.0,370.0,14.06,0.60,3.03,41.85
76,상상인,423.0,8.48,5.53,6.55,642.18,672.76,1200.37,845.0,13091.0,100.0,7.25,0.47,1.63,11.55
73,NHN KCP,349.0,5.37,4.24,19.35,135.80,137.40,1110.22,870.0,5131.0,200.0,15.41,2.61,1.49,22.14
88,콤텍시스템,335.0,2.24,4.72,16.63,179.37,83.01,185.05,201.0,1259.0,NaN,3.02,0.48,NaN,NaN
30,에스트래픽,324.0,7.27,24.52,66.79,161.30,109.17,422.90,1232.0,2506.0,NaN,3.11,1.53,NaN,NaN
37,헥토이노베이션,322.0,13.55,12.24,21.32,86.41,161.97,2156.92,2222.0,10882.0,420.0,5.42,1.11,3.49,18.38
38,아이티센,312.0,1.16,1.19,3.07,202.61,86.69,438.24,85.0,2681.0,NaN,42.09,1.34,NaN,NaN
42,사람인,293.0,27.25,19.65,18.11,21.76,187.59,3013.86,2517.0,15696.0,700.0,10.49,1.68,2.65,26.25

In [137]:
highdangi1=highdangi[['기업이름','당기순이익(억원)']]

In [151]:
highdangi1

       기업이름  당기순이익(억원)
0        KT    13877.0
1   삼성에스디에스    11300.0
2       카카오    10626.0
3      다우기술     6805.0
4     NAVER     6732.0
..      ...        ...
89     카페24     -499.0
90   휴맥스홀딩스     -506.0
91   롯데하이마트    -5279.0
92       굿센        NaN
93    유니포인트        NaN

[94 rows x 2 columns]

In [147]:
highrealprofit1=highrealprofit[['기업이름','순이익률(%)']]

In [150]:
highrealprofit1.reset_index(drop=True,inplace=True)
highdangi1.reset_index(drop=True,inplace=True)

In [149]:
highrealprofit1

       기업이름  순이익률(%)
0     이크레더블    33.23
1       리파인    32.11
2    에프앤가이드    27.95
3   케이아이엔엑스    24.64
4     에스트래픽    24.52
..      ...      ...
89      큐로컴  -133.53
90       컨텍  -162.26
91   신테카바이오 -1846.96
92       굿센      NaN
93    유니포인트      NaN

[94 rows x 2 columns]

In [168]:
highquickratio1=highquickratio[["기업이름","당좌비율(%)"]]
highquickratio1.reset_index(drop=True,inplace=True)

In [169]:
highquickratio1

      기업이름  당좌비율(%)
0      오비고  1478.50
1      리파인  1067.51
2     비트나인   937.64
3      상상인   672.76
4   미래아이앤지   669.07
..     ...      ...
89    케이씨티    19.44
90    다우기술     9.21
91    신라섬유     5.84
92      굿센      NaN
93   유니포인트      NaN

[94 rows x 2 columns]

In [152]:
lowquickratio1=lowquickratio[["기업이름","당좌비율(%)"]]
lowquickratio1.reset_index(drop=True,inplace=True)

In [153]:
worsequick=lowquickratio1[lowquickratio1["당좌비율(%)"]<=100]

In [154]:
len(worsequick)

38

In [155]:
worsequick

          기업이름  당좌비율(%)
0         신라섬유     5.84
1         다우기술     9.21
2         케이씨티    19.44
3       롯데하이마트    21.22
4         BF랩스    27.44
5       바이브컴퍼니    27.86
6        한성크린텍    31.37
7        비케이탑스    42.21
8           컨텍    52.00
9          큐로컴    53.35
10     한국테크놀로지    57.09
11        피피아이    61.54
12      휴맥스홀딩스    61.82
13      에프앤가이드    62.26
14         플리토    63.17
15     THE E&M    66.50
16      LG유플러스    66.59
17        오파스넷    68.59
18       위세아이텍    71.42
19     YG PLUS    71.73
20        씨유박스    73.76
21       아시아경제    74.67
22         링네트    76.76
23      대신정보통신    77.27
24         에스넷    77.62
25        카페24    79.91
26       콤텍시스템    83.01
27          율호    85.24
28        아이티센    86.69
29        인성정보    86.76
30        KTis    87.12
31       케이씨에스    87.46
32      아이크래프트    88.35
33  브랜드엑스코퍼레이션    91.79
34      쌍용정보통신    93.36
35          DB    98.64
36       더존비즈온    98.65
37          KT    99.95

In [156]:
lowdebtrate1=lowdebtrate[["기업이름","부채비율(%)"]]
highdebtrate1=highdebtrate[["기업이름","부채비율(%)"]]
lowdebtrate1.reset_index(drop=True,inplace=True)
highdebtrate1.reset_index(drop=True,inplace=True)

In [157]:
lowdebtrate1

     기업이름  부채비율(%)
0      컨텍  -368.00
1     리파인     9.18
2   디지틀조선    10.74
3     오비고    11.94
4     유엔젤    13.47
..    ...      ...
89   씨유박스   813.46
90   다우기술   849.42
91  비케이탑스  1190.27
92     굿센      NaN
93  유니포인트      NaN

[94 rows x 2 columns]

In [159]:
low200debtrate=lowdebtrate1[lowdebtrate1["부채비율(%)"]<=200]
high300debtrate=highdebtrate1[highdebtrate1["부채비율(%)"]>=300]

In [160]:
low200debtrate

      기업이름  부채비율(%)
0       컨텍  -368.00
1      리파인     9.18
2    디지틀조선    10.74
3      오비고    11.94
4      유엔젤    13.47
..     ...      ...
71   한성크린텍   155.06
72   에스트래픽   161.30
73  아이크래프트   168.44
74   콤텍시스템   179.37
75  대신정보통신   197.64

[76 rows x 2 columns]

In [131]:
len(low200debtrate)

76

In [161]:
high300debtrate

      기업이름  부채비율(%)
0    비케이탑스  1190.27
1     다우기술   849.42
2     씨유박스   813.46
3      상상인   642.18
4   바이브컴퍼니   639.83
5   와이더플래닛   559.56
6  한국테크놀로지   531.45
7     피피아이   379.40
8   쌍용정보통신   329.21
9   크라우드웍스   313.28

In [163]:
highRoe1=highRoe[["기업이름","ROE(지배주주)(%)"]]
highRoe1.reset_index(drop=True,inplace=True)

In [164]:
highRoe1

       기업이름  ROE(지배주주)(%)
0        컨텍         98.43
1    크라우드웍스         97.06
2     에스트래픽         66.79
3     이크레더블         28.58
4    쌍용정보통신         23.63
..      ...           ...
89       굿센           NaN
90    아시아경제           NaN
91    유니포인트           NaN
92  신세계 I&C           NaN
93   미래아이앤지           NaN

[94 rows x 2 columns]

In [228]:
highdangi120=highdangi1.head(30)
highrealprofit120=highrealprofit1.head(30)
highquickratio120=highquickratio1.head(30)
lowdebtrate120=lowdebtrate1.head(30)
highRoe120=highRoe1.head(30)

In [229]:
highdangi120

        기업이름  당기순이익(억원)
0         KT    13877.0
1    삼성에스디에스    11300.0
2        카카오    10626.0
3       다우기술     6805.0
4      NAVER     6732.0
5     LG유플러스     6626.0
6    신세계 I&C      841.0
7   NICE평가정보      527.0
8        상상인      423.0
9    NHN KCP      349.0
10     콤텍시스템      335.0
11     에스트래픽      324.0
12   헥토이노베이션      322.0
13      아이티센      312.0
14       사람인      293.0
15    롯데정보통신      284.0
16   드림어스컴퍼니      273.0
17   케이아이엔엑스      273.0
18     더존비즈온      231.0
19        윈스      192.0
20      지니뮤직      187.0
21      KTcs      181.0
22       리파인      177.0
23     아시아경제      175.0
24   YG PLUS      167.0
25      KTis      159.0
26     이크레더블      157.0
27    쌍용정보통신      122.0
28    헥토파이낸셜      120.0
29      소프트센      116.0

In [230]:
sethighdangi=set(highdangi120.loc[:30, '기업이름'].to_list())

In [231]:
sethighdangi

{'KT',
 'KTcs',
 'KTis',
 'LG유플러스',
 'NAVER',
 'NHN KCP',
 'NICE평가정보',
 'YG PLUS',
 '다우기술',
 '더존비즈온',
 '드림어스컴퍼니',
 '롯데정보통신',
 '리파인',
 '사람인',
 '삼성에스디에스',
 '상상인',
 '소프트센',
 '신세계 I&C',
 '쌍용정보통신',
 '아시아경제',
 '아이티센',
 '에스트래픽',
 '윈스',
 '이크레더블',
 '지니뮤직',
 '카카오',
 '케이아이엔엑스',
 '콤텍시스템',
 '헥토이노베이션',
 '헥토파이낸셜'}

In [232]:
highrealprofit120

        기업이름  순이익률(%)
0      이크레더블    33.23
1        리파인    32.11
2     에프앤가이드    27.95
3    케이아이엔엑스    24.64
4      에스트래픽    24.52
5      아시아경제    20.49
6        사람인    19.65
7         윈스    18.97
8       소프트센    15.79
9        카카오    14.95
10   신세계 I&C    14.08
11   헥토이노베이션    12.24
12   YG PLUS    11.90
13  NICE평가정보    10.98
14     위세아이텍    10.21
15   드림어스컴퍼니     9.94
16    헥토파이낸셜     9.31
17      텔코웨어     9.09
18     NAVER     8.19
19     디지틀조선     7.92
20     더존비즈온     7.58
21      다우기술     7.39
22       유엔젤     7.35
23       이글루     7.33
24   삼성에스디에스     6.56
25      지니뮤직     6.53
26        쿠콘     5.87
27   SCI평가정보     5.73
28       상상인     5.53
29        KT     5.41

In [233]:
sethighprofit=set(highrealprofit120.loc[:30, '기업이름'].to_list())

In [234]:
setquickratio=set(highquickratio1.loc[:30,'기업이름'].to_list())

In [235]:


setquickratio

{'NICE평가정보',
 'SCI평가정보',
 '드림어스컴퍼니',
 '디지틀조선',
 '로지시스',
 '리노스',
 '리파인',
 '미래아이앤지',
 '비트나인',
 '사람인',
 '삼성에스디에스',
 '상상인',
 '소프트센',
 '솔트웨어',
 '신세계 I&C',
 '씨이랩',
 '아시아나IDT',
 '오비고',
 '와이더플래닛',
 '윈스',
 '유엔젤',
 '이글루',
 '이노뎁',
 '이씨에스',
 '이크레더블',
 '줌인터넷',
 '케이아이엔엑스',
 '코난테크놀로지',
 '텔코웨어',
 '플랜티넷',
 '핑거스토리'}

In [236]:
setlowdebtrate=set(lowdebtrate120.loc[:30,'기업이름'].to_list())

In [237]:
setlowdebtrate

{'NICE평가정보',
 'SCI평가정보',
 'iMBC',
 '디지틀조선',
 '로지시스',
 '리노스',
 '리파인',
 '미래아이앤지',
 '브랜드엑스코퍼레이션',
 '사람인',
 '삼성에스디에스',
 '신세계 I&C',
 '씨이랩',
 '아시아나IDT',
 '오비고',
 '윈스',
 '유엔젤',
 '이글루',
 '이노뎁',
 '이크레더블',
 '인포뱅크',
 '줌인터넷',
 '컨텍',
 '케이아이엔엑스',
 '코난테크놀로지',
 '쿠콘',
 '키다리스튜디오',
 '텔코웨어',
 '플랜티넷',
 '핑거스토리'}

In [238]:


sethighROE=set(highRoe120.loc[:30,'기업이름'].to_list())

In [239]:
sethighROE

{'KTcs',
 'NHN KCP',
 'NICE평가정보',
 'YG PLUS',
 '다우기술',
 '드림어스컴퍼니',
 '리파인',
 '링네트',
 '브랜드엑스코퍼레이션',
 '사람인',
 '삼성에스디에스',
 '소프트센',
 '쌍용정보통신',
 '에스트래픽',
 '에프앤가이드',
 '오파스넷',
 '위세아이텍',
 '윈스',
 '이글루',
 '이씨에스',
 '이크레더블',
 '지니뮤직',
 '카카오',
 '컨텍',
 '케이아이엔엑스',
 '콤텍시스템',
 '크라우드웍스',
 '피피아이',
 '헥토이노베이션',
 '헥토파이낸셜'}

In [240]:
sethighdangi&sethighprofit&sethighROE&setlowdebtrate&setquickratio

{'NICE평가정보', '리파인', '사람인', '삼성에스디에스', '윈스', '이크레더블', '케이아이엔엑스'}