In [56]:
import pandas as pd

In [57]:
filename = 'saramin_it_data_companies.csv'
saraminDF = pd.read_csv(filename, encoding='utf-8')
saraminDF

             IT기업  근속년수                                        사람인 채용정보 링크
0          (주)씨이랩   1.7  https://www.saramin.co.kr/zf_user/company-info...
1    주식회사 티시스 아이티   0.0  https://www.saramin.co.kr/zf_user/company-info...
2       (주)두원전자통신   0.0  https://www.saramin.co.kr/zf_user/company-info...
3      한국정보보호산업협회   0.0  https://www.saramin.co.kr/zf_user/company-info...
4       넛지헬스케어(주)   0.0  https://www.saramin.co.kr/zf_user/company-info...
..            ...   ...                                                ...
670       (주)소프트넷   0.0  https://www.saramin.co.kr/zf_user/company-info...
671        브이피(주)   0.0  https://www.saramin.co.kr/zf_user/company-info...
672         웰트(주)   0.0  https://www.saramin.co.kr/zf_user/company-info...
673     (주)바티에이아이   0.0  https://www.saramin.co.kr/zf_user/company-info...
674        (주)펨트론   0.0  https://www.saramin.co.kr/zf_user/company-info...

[675 rows x 3 columns]

In [58]:
saraminDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   IT기업         675 non-null    object
 1   근속년수         675 non-null    float64
 2   사람인 채용정보 링크  675 non-null    object
dtypes: float64(1), object(2)
memory usage: 15.9+ KB

In [59]:
saraminDF['IT기업0'] = saraminDF['IT기업'].str.replace('(주)', '')

In [60]:
saraminDF['IT기업0'] = saraminDF['IT기업0'].str.replace('㈜', '')

In [61]:
saraminDF['IT기업0'] = saraminDF['IT기업0'].str.replace('주식회사', '')

In [62]:
saraminDF['IT기업0'] = saraminDF['IT기업0'].str.replace('(사)', '')

In [63]:
saraminDF['IT기업0'] = saraminDF['IT기업0'].str.strip()

In [64]:
saraminDF

,IT기업,근속년수,사람인 채용정보 링크,IT기업0
0,(주)씨이랩,1.7,https://www.saramin.co.kr/zf_user/company-info...,씨이랩
1,주식회사 티시스 아이티,0.0,https://www.saramin.co.kr/zf_user/company-info...,티시스 아이티
2,(주)두원전자통신,0.0,https://www.saramin.co.kr/zf_user/company-info...,두원전자통신
3,한국정보보호산업협회,0.0,https://www.saramin.co.kr/zf_user/company-info...,한국정보보호산업협회
4,넛지헬스케어(주),0.0,https://www.saramin.co.kr/zf_user/company-info...,넛지헬스케어
...,...,...,...,...
670,(주)소프트넷,0.0,https://www.saramin.co.kr/zf_user/company-info...,소프트넷
671,브이피(주),0.0,https://www.saramin.co.kr/zf_user/company-info...,브이피
672,웰트(주),0.0,https://www.saramin.co.kr/zf_user/company-info...,웰트
673,(주)바티에이아이,0.0,https://www.saramin.co.kr/zf_user/company-info...,바티에이아이
674,(주)펨트론,0.0,https://www.saramin.co.kr/zf_user/company-info...,펨트론

In [65]:
saraminDF = saraminDF.reindex(['IT기업0', 'IT기업', '근속년수', '사람인 채용정보 링크'], axis=1)
saraminDF

,IT기업0,IT기업,근속년수,사람인 채용정보 링크
0,씨이랩,(주)씨이랩,1.7,https://www.saramin.co.kr/zf_user/company-info...
1,티시스 아이티,주식회사 티시스 아이티,0.0,https://www.saramin.co.kr/zf_user/company-info...
2,두원전자통신,(주)두원전자통신,0.0,https://www.saramin.co.kr/zf_user/company-info...
3,한국정보보호산업협회,한국정보보호산업협회,0.0,https://www.saramin.co.kr/zf_user/company-info...
4,넛지헬스케어,넛지헬스케어(주),0.0,https://www.saramin.co.kr/zf_user/company-info...
...,...,...,...,...
670,소프트넷,(주)소프트넷,0.0,https://www.saramin.co.kr/zf_user/company-info...
671,브이피,브이피(주),0.0,https://www.saramin.co.kr/zf_user/company-info...
672,웰트,웰트(주),0.0,https://www.saramin.co.kr/zf_user/company-info...
673,바티에이아이,(주)바티에이아이,0.0,https://www.saramin.co.kr/zf_user/company-info...
674,펨트론,(주)펨트론,0.0,https://www.saramin.co.kr/zf_user/company-info...

In [66]:
saraminDF = saraminDF.sort_values(by=['IT기업0'])
saraminDF

,IT기업0,IT기업,근속년수,사람인 채용정보 링크
393,11시11분,(주)11시11분,0.0,https://www.saramin.co.kr/zf_user/company-info...
601,FORTISPTS Partners,FORTISPTS Partners,0.0,https://www.saramin.co.kr/zf_user/company-info...
609,G2G 파트너스,G2G 파트너스,0.0,https://www.saramin.co.kr/zf_user/company-info...
624,HR컨설팅그룹,(주)HR컨설팅그룹,0.0,https://www.saramin.co.kr/zf_user/company-info...
57,NSUSLAB KOREA,NSUSLAB KOREA,0.0,https://www.saramin.co.kr/zf_user/company-info...
...,...,...,...,...
142,휴머스온,(주)휴머스온,0.0,https://www.saramin.co.kr/zf_user/company-info...
591,휴먼인써치,휴먼인써치,0.0,https://www.saramin.co.kr/zf_user/company-info...
607,휴먼포커스,휴먼포커스(주),0.0,https://www.saramin.co.kr/zf_user/company-info...
412,휴비츠,(주)휴비츠,6.0,https://www.saramin.co.kr/zf_user/company-info...
643,휴스존,휴스존㈜,0.0,https://www.saramin.co.kr/zf_user/company-info...

In [67]:
filename = 'saramin_it_companies_final.csv'
saraminDF.to_csv(filename, encoding='utf-8', index=False)

In [51]:
saraminDF2 = saraminDF.sort_values(['근속년수'], ascending=False)
saraminDF2

,IT기업0,IT기업,근속년수,사람인 채용정보 링크
137,우주일렉트로닉스,(주)우주일렉트로닉스,9.8,https://www.saramin.co.kr/zf_user/company-info...
383,인피니트헬스케어,(주)인피니트헬스케어,8.7,https://www.saramin.co.kr/zf_user/company-info...
13,웅진,(주)웅진,8.4,https://www.saramin.co.kr/zf_user/company-info...
320,모비스,(주)모비스,7.3,https://www.saramin.co.kr/zf_user/company-info...
245,동아엘텍,(주)동아엘텍,7.2,https://www.saramin.co.kr/zf_user/company-info...
...,...,...,...,...
238,서울특별시보라매병원,서울특별시보라매병원,0.0,https://www.saramin.co.kr/zf_user/company-info...
239,부산더조은직업전문학교,부산더조은직업전문학교,0.0,https://www.saramin.co.kr/zf_user/company-info...
240,아이유노글로벌,(주)아이유노글로벌,0.0,https://www.saramin.co.kr/zf_user/company-info...
241,디엑스지,(주)디엑스지,0.0,https://www.saramin.co.kr/zf_user/company-info...
674,펨트론,(주)펨트론,0.0,https://www.saramin.co.kr/zf_user/company-info...

In [52]:
# 근속년수 높은 순으로 정렬한 ver. 저장
filename2 = 'saramin_it_companies_final_sorted.csv'
saraminDF2.to_csv(filename2, encoding='utf-8', index=False)

In [53]:
saraminDF2 = pd.read_csv(filename2)
saraminDF2

,IT기업0,IT기업,근속년수,사람인 채용정보 링크
0,우주일렉트로닉스,(주)우주일렉트로닉스,9.8,https://www.saramin.co.kr/zf_user/company-info...
1,인피니트헬스케어,(주)인피니트헬스케어,8.7,https://www.saramin.co.kr/zf_user/company-info...
2,웅진,(주)웅진,8.4,https://www.saramin.co.kr/zf_user/company-info...
3,모비스,(주)모비스,7.3,https://www.saramin.co.kr/zf_user/company-info...
4,동아엘텍,(주)동아엘텍,7.2,https://www.saramin.co.kr/zf_user/company-info...
...,...,...,...,...
670,서울특별시보라매병원,서울특별시보라매병원,0.0,https://www.saramin.co.kr/zf_user/company-info...
671,부산더조은직업전문학교,부산더조은직업전문학교,0.0,https://www.saramin.co.kr/zf_user/company-info...
672,아이유노글로벌,(주)아이유노글로벌,0.0,https://www.saramin.co.kr/zf_user/company-info...
673,디엑스지,(주)디엑스지,0.0,https://www.saramin.co.kr/zf_user/company-info...
674,펨트론,(주)펨트론,0.0,https://www.saramin.co.kr/zf_user/company-info...

In [71]:
work_years_mask = saraminDF2['근속년수'] != 0
saraminDF2[work_years_mask].sort_values(['근속년수'])

,IT기업0,IT기업,근속년수,사람인 채용정보 링크
83,위메이드,(주)위메이드,1.6,https://www.saramin.co.kr/zf_user/company-info...
82,딥노이드,(주)딥노이드,1.6,https://www.saramin.co.kr/zf_user/company-info...
80,키다리스튜디오,(주)키다리스튜디오,1.7,https://www.saramin.co.kr/zf_user/company-info...
81,씨이랩,(주)씨이랩,1.7,https://www.saramin.co.kr/zf_user/company-info...
79,씨유박스,(주)씨유박스,1.7,https://www.saramin.co.kr/zf_user/company-info...
...,...,...,...,...
4,동아엘텍,(주)동아엘텍,7.2,https://www.saramin.co.kr/zf_user/company-info...
3,모비스,(주)모비스,7.3,https://www.saramin.co.kr/zf_user/company-info...
2,웅진,(주)웅진,8.4,https://www.saramin.co.kr/zf_user/company-info...
1,인피니트헬스케어,(주)인피니트헬스케어,8.7,https://www.saramin.co.kr/zf_user/company-info...
0,우주일렉트로닉스,(주)우주일렉트로닉스,9.8,https://www.saramin.co.kr/zf_user/company-info...